<!DOCTYPE html>
<html lang="<%- config.language %>">
  <%- partial('_partial/scripts/_ctrl') _%>
  <%- partial('_partial/head') _%>
  <body itemscope itemtype="http://schema.org/WebPage">
    <!-- import body_begin begin-->
    <%_ if (config.import && config.import.body_begin){ _%>
      <%_ ([...config.import.body_begin]).forEach(function(item){ _%>
        <%- item %>
      <%_ }) _%>
    <%_ } _%>
    <!-- import body_begin end-->
    <!-- Custom Files bodyBegin begin-->
    <%- volantis_inject('bodyBegin') %>
    <!-- Custom Files bodyBegin end-->
    <% if (theme.navbar.enable) { %>
    <%- partial('_partial/header', null, {cache: false, path: path}) %>
    <% } %>
    <div id="l_body">
      <%- partial('_partial/cover') %>
      <div id="safearea">
        <div class="body-wrapper">
          <%- body %>
          <%- partial('_plugins/pjax/pdata') %>
        </div>
        <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
        <a id="s-top" class="fa-solid fa-arrow-up fa-fw" title="top"></a>
      </div>
    </div>
    <div>
      <%- partial('_partial/scripts/index') %>
      <% if (theme.plugins.pjax.enable){ %>
        <%- partial('_plugins/pjax/index') %>
      <% } %>
      <div id="doodle-bg">
        <css-doodle>
          :doodle {
              @grid: 1x20 / 100vmin;
          }
          @place-cell: center;
          width: @rand(60vmin, 100vmin);
          height: @rand(60vmin, 100vmin);
          transform: translate(@rand(-120%, 120%), @rand(-80%, 80%)) scale(@rand(.8, 2.8)) skew(@rand(45deg));
          clip-path: polygon(
            @r(0, 30%) @r(0, 50%), 
            @r(30%, 60%) @r(0%, 30%), 
            @r(60%, 100%) @r(0%, 50%), 
            @r(60%, 100%) @r(50%, 100%), 
            @r(30%, 60%) @r(60%, 100%),
            @r(0, 30%) @r(60%, 100%)
          );
          background: @pick(#f44336, #9c27b0, #673ab7, #3f51b5, #60569e, #e6437d, #ebbf4d, #00bcd4, #03a9f4, #2196f3, #009688, #5ee463, #f8e645, #ffc107, #ff5722, #43f8bf, #e136eb, #32ed39);
          opacity: @rand(.5, .9);
          position: relative;
          top: @rand(-80%, 80%);
          left: @rand(0%, 80%);
          animation: colorChange @rand(6.1s, 26.1s) infinite @rand(-.5s, -2.5s) linear alternate;
          @keyframes colorChange {
            100% {
              left: 0;
              top: 0;
              filter: hue-rotate(360deg);
            }
          }
        </css-doodle>
      </div>
    </div>
    <!-- import body_end begin-->
    <%_ if (config.import && config.import.body_end){ _%>
      <%_ ([...config.import.body_end]).forEach(function(item){ _%>
        <%- item %>
      <%_ }) _%>
    <%_ } _%>
    <!-- import body_end end-->
    <!-- Custom Files bodyEnd begin-->
    <%- volantis_inject('bodyEnd') %>
    <!-- Custom Files bodyEnd end-->
  </body>
</html>
