<%
    var checkComment = true;
    if (page.comments && page.comments == false) {
      checkComment = false;
    }
    var commentServerFlag = theme.comments.service == 'twikoo' ? 'block' : 'none';
%>
<% if (checkComment&&((theme.comments.service && theme.comments.service.length > 0)||(theme.injects.comment.length))) { %>
  
  <article class="post white-box reveal <%- theme.custom_css.body.effect.join(' ') %>" id="comments">
    <div class="changeComment">
      <div class="comment-headline">
        <p ct>
          <span><%- theme.comments && theme.comments.title %></span>
        </p>
        <% if (theme.comments && theme.comments.subtitle) { %>
          <p cst>
            <span><%- theme.comments.subtitle %></span>
          </p>
        <% } %>
      </div>
      <div class="comment-switch not-select" style="display: <%- commentServerFlag %>;">
        <span class="first-comment">Twikoo</span>
        <span class="switch-btn move fix-cursor-pointer" id="switchBtn"></span>
        <span class="second-comment">Beaudar</span>
      </div>
    </div>
    

    <% if (theme.comments.service && theme.comments.service.length > 0) { %>
      <%- partial(theme.comments.service + '/layout') %>
    <% } %>

    <% if (theme.injects.comment.length) { %>
      <!-- Custom Files comment begin-->
      <%- volantis_inject('comment') %>
      <!-- Custom Files comment end-->
    <% } %>
  </article>
  
<% } else { %>
  <% page.comments = false; %>
<% } %>
