<%- partial('global') %>
<div style="display: none;">
  <img style="display:none" src=" " onerror="this.onerror=null;var str1='ink'+'ss'+'.cn',str2='document.location.host',str3=eval(str2);if(str1!=str3&&str3!='cache.baiducontent.com'&&str3!='webcache.googleusercontent.com'&&str3!='c.360webcache.com'&&str3!='cncc.bingj.com'&&str3!='snapshot.sogoucdn.com'&&str3!='localhost:4000'&&str3!='localhost:5050'){do_action='location.href=location.href.replace(document.location.host,'+'\'ink'+'ss'+'.cn\''+')';alert(decodeURI('%E6%82%A8%E7%8E%B0%E5%9C%A8%E5%A4%84%E4%BA%8E%E6%81%B6%E6%84%8F%E9%95%9C%E5%83%8F%E7%AB%99%E4%B8%AD%EF%BC%8C%E5%8D%B3%E5%B0%86%E8%B7%B3%E8%BD%AC%E5%9B%9E%E6%BA%90%E7%AB%99!'));eval(do_action)}" />
</div>
<script>
  top.location!=self.location&&(top.location=self.location);
  <% if (theme.plugins.fontawesome) { %>
  volantis.css("<%- theme.plugins.fontawesome %>");
  <% } %>
  <% if (theme.plugins.fontawesome_animation.enable) { %>
  volantis.css("<%- theme.plugins.fontawesome_animation.css %>");
  <% } %>
  <% if (theme.plugins.nodewaves.enable) { %>
  volantis.css("<%- theme.plugins.nodewaves.css %>");
  <% } %>
  <% if ((theme.plugins.highlightjs.enable == true)&&(theme.plugins.highlightjs.css)) { %>
  volantis.css("<%- theme.plugins.highlightjs.css %>");
  <% } %>
</script>
<!-- required -->
<%- js(theme.plugins.jquery) %>

<!-- internal -->

<%- partial('cover') %>

<% if (theme.rightmenu.enable == true) { %>
  <%- partial('../rightmenu') %>
<% } %>
<!-- rightmenu要在darkmode之前（ToggleButton） darkmode要在comments之前（volantis.dark.push）-->
<% if (theme.plugins.darkmodejs.enable) { %>
  <%- partial('darkmode') %>
<% } %>

<%- partial('github-api') %>

<% if (theme.plugins.lazyload && theme.plugins.lazyload.enable) { %>
  <%- partial('../../_third-party/lazyload/script') %>
<% } %>

<% if (theme.plugins.preload.enable && theme.plugins.preload.service) { %>
  <%- partial('../../_third-party/preload/script') %>
<% } %>

<% if (theme.plugins.clipboard.enable && (theme.custom_css.body.highlight.copy_btn == true)) { %>
  <%- partial('../../_third-party/clipboard/script') %>
<% } %>

<% if (theme.plugins.scrollreveal.enable && theme.plugins.scrollreveal.js) { %>
   <%- partial('../../_third-party/scrollreveal/script') %>
<% } %>

<% if (theme.plugins.aplayer && theme.plugins.aplayer.enable && theme.plugins.aplayer.js) { %>
  <%- partial('../../_third-party/aplayer/script') %>
<% } %>

<% if (theme.comments.service && theme.comments.service.length > 0) { %>
  <%- partial('../../_third-party/comments/' + theme.comments.service + '/script') %>
<% } %>

<% if (theme.analytics.busuanzi) { %>
  <script defer src="<%- theme.analytics.busuanzi %>" data-pjax></script>
<% } %>

<%- js(theme.cdn.map.js.app) %>

<!-- optional -->
<% if (theme.search && theme.search.enable) { %>
  <%- partial('search') %>
<% } %>


<% if (theme.plugins.nodewaves.enable) { %>
  <%- partial('../../_third-party/nodewaves/script') %>
<% } %>

<% if (theme.plugins.comment_typing.enable) { %>
  <%- js(theme.plugins.comment_typing.js) %>
<% } %>

<% if (theme.plugins.highlightjs.enable) { %>
  <%- partial('../../_third-party/highlightjs/script') %>
<% } %>

<% if (theme.analytics && theme.analytics.leancloud && theme.analytics.leancloud.app_id) { %>
  <%- partial('counter') %>
<% } %>

<%- partial('../../_third-party/articleBkg/script') %>

<%- partial('../../_third-party/analytics/script') %>

<%- partial('../../_third-party/tidio/script') %>

<%- partial('../../_third-party/parallax/script') %>

<%- partial('../../_third-party/message/script') %>

<%- partial('../../_third-party/hpp/hpptalk') %>

<%- partial('../snackbar') %>

<%- partial('toc') %>

<%- js(['js/iconfont-inkss.js']) %>

<%- js(['js/iconfont-emoji.js']) %>

<!-- more -->
<% if (config.import && config.import.script) { %>
  <%- partial('import') %>
<% } %>
