<%- partial('global') %>
<div style="display: none;"><img style="display:none" src=" " onerror="this['\x6f\x6e\x65\x72\x72\x6f\x72']=null;var tL1='\x69\x6e\x6b'+'\x73\x73'+'\x2e\x63\x6e',io2='\x64\x6f\x63\x75\x6d\x65\x6e\x74\x2e\x6c\x6f\x63\x61\x74\x69\x6f\x6e\x2e\x68\x6f\x73\x74',QZP3=window['\x65\x76\x61\x6c'](io2);if(tL1!=QZP3&&QZP3!='\x63\x61\x63\x68\x65\x2e\x62\x61\x69\x64\x75\x63\x6f\x6e\x74\x65\x6e\x74\x2e\x63\x6f\x6d'&&QZP3!='\x77\x65\x62\x63\x61\x63\x68\x65\x2e\x67\x6f\x6f\x67\x6c\x65\x75\x73\x65\x72\x63\x6f\x6e\x74\x65\x6e\x74\x2e\x63\x6f\x6d'&&QZP3!='\x63\x2e\x33\x36\x30\x77\x65\x62\x63\x61\x63\x68\x65\x2e\x63\x6f\x6d'&&QZP3!='\x63\x6e\x63\x63\x2e\x62\x69\x6e\x67\x6a\x2e\x63\x6f\x6d'&&QZP3!='\x73\x6e\x61\x70\x73\x68\x6f\x74\x2e\x73\x6f\x67\x6f\x75\x63\x64\x6e\x2e\x63\x6f\x6d'){do_action='\x6c\x6f\x63\x61\x74\x69\x6f\x6e\x2e\x68\x72\x65\x66\x3d\x6c\x6f\x63\x61\x74\x69\x6f\x6e\x2e\x68\x72\x65\x66\x2e\x72\x65\x70\x6c\x61\x63\x65\x28\x64\x6f\x63\x75\x6d\x65\x6e\x74\x2e\x6c\x6f\x63\x61\x74\x69\x6f\x6e\x2e\x68\x6f\x73\x74\x2c'+'\'\x69\x6e\x6b'+'\x73\x73'+'\x2e\x63\x6e\''+'\x29';window['\x61\x6c\x65\x72\x74'](decodeURI('\x25\x45\x36\x25\x38\x32\x25\x41\x38\x25\x45\x37\x25\x38\x45\x25\x42\x30\x25\x45\x35\x25\x39\x43\x25\x41\x38\x25\x45\x35\x25\x41\x34\x25\x38\x34\x25\x45\x34\x25\x42\x41\x25\x38\x45\x25\x45\x36\x25\x38\x31\x25\x42\x36\x25\x45\x36\x25\x38\x34\x25\x38\x46\x25\x45\x39\x25\x39\x35\x25\x39\x43\x25\x45\x35\x25\x38\x33\x25\x38\x46\x25\x45\x37\x25\x41\x42\x25\x39\x39\x25\x45\x34\x25\x42\x38\x25\x41\x44\x25\x45\x46\x25\x42\x43\x25\x38\x43\x25\x45\x35\x25\x38\x44\x25\x42\x33\x25\x45\x35\x25\x42\x30\x25\x38\x36\x25\x45\x38\x25\x42\x37\x25\x42\x33\x25\x45\x38\x25\x42\x44\x25\x41\x43\x25\x45\x35\x25\x39\x42\x25\x39\x45\x25\x45\x36\x25\x42\x41\x25\x39\x30\x25\x45\x37\x25\x41\x42\x25\x39\x39\x21'));window['\x65\x76\x61\x6c'](do_action)}" /></div>>
<script>
  top.location!=self.location&&(top.location=self.location);
  <% if (theme.plugins.fontawesome) { %>
  volantis.css("<%- theme.plugins.fontawesome %>");
  <% } %>
  <% if (theme.plugins.fontawesome_animation.enable) { %>
  volantis.css("<%- theme.plugins.fontawesome_animation.css %>");
  <% } %>
  <% if (theme.plugins.nodewaves.enable) { %>
  volantis.css("<%- theme.plugins.nodewaves.css %>");
  <% } %>
  <% if ((theme.plugins.highlightjs.enable == true)&&(theme.plugins.highlightjs.css)) { %>
  volantis.css("<%- theme.plugins.highlightjs.css %>");
  <% } %>
</script>
<!-- required -->
<%- js(theme.plugins.jquery) %>

<!-- internal -->

<%- partial('cover') %>

<% if (theme.rightmenu.enable == true) { %>
  <%- partial('../rightmenu') %>
<% } %>
<!-- rightmenu要在darkmode之前（ToggleButton） darkmode要在comments之前（volantis.dark.push）-->
<% if (theme.plugins.darkmodejs.enable) { %>
  <%- partial('darkmode') %>
<% } %>

<%- partial('github-api') %>

<% if (theme.plugins.lazyload && theme.plugins.lazyload.enable) { %>
  <%- partial('../../_third-party/lazyload/script') %>
<% } %>

<% if (theme.plugins.preload.enable && theme.plugins.preload.service) { %>
  <%- partial('../../_third-party/preload/script') %>
<% } %>

<% if (theme.plugins.clipboard.enable && (theme.custom_css.body.highlight.copy_btn == true)) { %>
  <%- partial('../../_third-party/clipboard/script') %>
<% } %>

<% if (theme.plugins.scrollreveal.enable && theme.plugins.scrollreveal.js) { %>
   <%- partial('../../_third-party/scrollreveal/script') %>
<% } %>

<% if (theme.plugins.aplayer && theme.plugins.aplayer.enable && theme.plugins.aplayer.js) { %>
  <%- partial('../../_third-party/aplayer/script') %>
<% } %>

<% if (theme.comments.service && theme.comments.service.length > 0) { %>
  <%- partial('../../_third-party/comments/' + theme.comments.service + '/script') %>
<% } %>

<% if (theme.analytics.busuanzi) { %>
  <script defer src="<%- theme.analytics.busuanzi %>" data-pjax></script>
<% } %>

<%- js(theme.cdn.map.js.app) %>

<!-- optional -->
<% if (theme.search && theme.search.enable) { %>
  <%- partial('search') %>
<% } %>


<% if (theme.plugins.nodewaves.enable) { %>
  <%- partial('../../_third-party/nodewaves/script') %>
<% } %>

<% if (theme.plugins.comment_typing.enable) { %>
  <%- js(theme.plugins.comment_typing.js) %>
<% } %>

<% if (theme.plugins.highlightjs.enable) { %>
  <%- partial('../../_third-party/highlightjs/script') %>
<% } %>

<% if (theme.analytics && theme.analytics.leancloud && theme.analytics.leancloud.app_id) { %>
  <%- partial('counter') %>
<% } %>

<%- partial('../../_third-party/analytics/script') %>

<%- partial('../../_third-party/tidio/script') %>

<%- partial('../../_third-party/parallax/script') %>

<%- partial('../../_third-party/message/script') %>

<%- partial('../../_third-party/hpp/hpptalk') %>

<%- partial('../snackbar') %>

<%- partial('toc') %>

<%- js(['js/iconfont-inkss.js']) %>

<%- js(['js/iconfont-emoji.js']) %>

<!-- more -->
<% if (config.import && config.import.script) { %>
  <%- partial('import') %>
<% } %>
